h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: #1db954;
    font-size: 10vh;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 100%;
    padding: 2%;
}

#images img {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 100%;
    margin: 3%;
}

#songs p {
    font-size: 3vh;
    height: 25%;
    width: 200px;
    font-weight: bold;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#artists p {
    font-size: 3vh;
    height: 25%;
    margin: 3%;
}

#lengths p {
    font-size: 3vh;
    height: 25%;
    margin: 3%;
    text-align: right;
}

#links a {
    display: block;
    font-size: 3vh;
    height: 25%;
    font-weight: bold;
    margin: 3%;
}

#form {
    width: 100%;
    margin: 1%;
    font-size: 3vh;
    text-align: center;
}

input {
    padding: 1%;
    font-size: 2vh;
    color:black;
}

button {
    font-size: 2vh;
    padding: 1%;
    background-color: #1db954;
}
body{
    background-color: #191414;
    color: white;
    font-family: 'Acme', sans-serif;
}
